:root {
  --primary-color: #f85a16;
  --secondary-color: #098b54;
  --project-primary-font: "Tangerine", cursive;
  --project-secondary-font: "Montserrat", sans-serif;
  --box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3);
  --transition: all 100ms ease-in-out;
}

h1 {
  font-family: var(--project-primary-font);
  font-size: 138px;
  font-weight: bolder;
  color: var(--primary-color);
  margin: 0 auto;
}

h2 {
  font-family: var(--project-secondary-font);
  font-size: 38px;
  font-weight: bold;
  color: var(--secondary-color);
}

h3 {
  font-family: var(--project-primary-font);
  color: var(--primary-color);
  font-weight: bold;
  text-align: center;
  font-size: 68px;
}

.hero {
  padding: 160px 28px;
  text-align: center;
  height: 750px;
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
}

.hero h3 {
  line-height: 5px;
}

.about-page {
  margin-top: 80px;
}

.about-me-page {
  padding: 20px;
  margin-top: 90px;
}

.about-page h1 {
  font-family: var(--project-primary-font);
  text-align: center;
  font-size: 88px;
  font-weight: bolder;
  color: var(--primary-color);
  margin: 0 auto;
}

.about-page p {
  font-family: var(--project-secondary-font);
  font-size: 25px;
}

.tech-name {
  color: var(--secondary-color);
  font-size: 20px;
}

.tech-logo {
  max-width: 85px;
  border: none;
  border-radius: 50px;
  background: #cbcfcc;
}

.lorna-photo {
  width: 480px;
  border-radius: 30px;
  margin-left: 75px;
  box-shadow: var(--box-shadow);
}

.certificates {
  box-shadow: 5px 5px red, -1em 0 0.4em olive;
}

.btn-success {
  padding: 15px 35px;
  font-size: 18px;
}

.primary-link {
  font-size: 22px;
  border-radius: 50px;
  padding: 20px 45px;
  text-decoration: none;
  background: var(--secondary-color);
  box-shadow: 0 5px 18px rgba(240, 61, 6, 0.877);
  color: white;
  transition: var(--transition);
}

.primary-link:hover {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  box-shadow: 0 5px 18px rgba(8, 105, 24, 0.877);
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: var(--transition);
  box-shadow: var(--box-shadow);
}

.secondary-link:hover {
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
  border: none;
}

.project {
  padding: 300px 28px;
  text-align: center;
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
}

.project p {
  font-family: var(--project-secondary-font);
  font-size: 18px;
  color: white;
}

.project1 {
  background-color: #eff669;
  width: 100%;
  height: auto;
}

.project2 {
  background-color: #9bcb3c;
  width: 100%;
  height: auto;
}

.project3 {
  background-color: #ff9de2;
  width: 100%;
  height: auto;
}

.avatar {
  max-width: 48px;
  border-radius: 50px;
}

.avatar:hover {
  max-width: 58px;
}

.nav-item {
  font-size: 25px;
}

.nav-link {
  color: var(--secondary-color) !important;
}

.active {
  color: var(--primary-color) !important;
}

footer .email-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 25px;
}

footer .email-link:hover {
  color: var(--secondary-color);
  font-size: 35px;
  font-family: var(--project-primary-font);
}

footer .social-links a {
  padding: 20px 30px;
  font-size: 50px;
  color: var(--secondary-color);
  transition: var(--transition);
}

footer .social-links a:hover {
  color: var(--primary-color);
  font-size: 60px;
}

footer p {
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

footer .f-link {
  color: var(--secondary-color);
  text-decoration: none;
}

footer .f-link:hover {
  color: var(--primary-color);
  transition: var(--transition);
}

@media (max-width: 576px) {
  .project-photo {
    display: none;
  }

  .hero {
    padding-left: 100px;
  }

  h1 {
    font-size: 68px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 42px;
  }

  .primary-link {
    font-size: 15px;
    padding: 15px;
  }

  .container {
    display: block;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
  }

  .about-page {
    padding-top: 50px;
    text-align: center;
  }

  .about-page h1 {
    font-size: 50px;
  }

  .about-page p {
    font-size: 15px;
  }

  .lorna-photo {
    display: block;
    margin: 0 auto;
  }

  .tech-name {
    border-radius: 5px;
    border: 1px snow;
  }

  .avatar {
    margin-bottom: 40px;
  }

  footer .social-links a {
    font-size: 30px;
    display: inline block;
    margin: 0 auto;
    padding: 15px;
  }

  footer p {
    padding-top: 20px;
  }
}
